# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual env
.venv/
venv/
env/

# Build
build/
dist/
*.spec

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Executáveis
*.exe
*.zip

# Banco local do usuário
membros.db
# Arquivos do usuário
historico_atividades.txt

# Builds distribuíveis
*.rar
*.zip
*.7z
